---
title: Welcome to Middleman
---

<section class="
  _scope_ page
  _instance_ wrapper
  _state_ visible
  _columns_ one
  _animation_ none
  _pattern_ wrap
  "
  data-content="wrapper"
  data-click="wrapper"
  data-position="wrapper"
  data-ga="wrapper"
  >
  <div class="
    _scope_ unit
    _instance_ hello_world
    _state_ visible
    _columns_ one
    _animation_ none
    _pattern_ title
    "
    data-content="hello_world"
    data-click="hello_world"
    data-position="hello_world"
    data-ga="hello_world"
    >
    <%= data.copy.hello_world %>
  </div> <!-- unit title hello_world -->
</section> <!-- page wrap wrapper -->
